{% extends '../../pages-layout/default.html' %}

{% block title %}新增角色{% endblock %}
{% block header %}
<link rel="stylesheet" type="text/css" media="screen" href="../../css/lib/bootstrap.min.css">
<link rel="stylesheet" href="../../css/lib/ztree/zTreeStyle/zTreeStyle.css" type="text/css">
<link rel="stylesheet" href="../../css/lib/ztree/demo.css" type="text/css">
{% endblock %}

{% block content %}
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<form class="form-horizontal" onsubmit="return false" id="form">
		<fieldset>
			<input type="hidden" id="id" name="id">
			<div class="form-group">
				<label class="col-md-2 control-label">角色</label>
				<div class="col-md-10">
					<input class="form-control" placeholder="角色" type="text" name="name" id="name"
						data-bv-notempty="true"
						data-bv-notempty-message="角色 不能为空">
				</div>
			</div>

			<div class="form-group">
				<label class="col-md-2 control-label">描述</label>
				<div class="col-md-10">
					<textarea class="form-control" placeholder="描述" name="description"  id="description"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-2 control-label">权限</label>
				<div class="col-md-10">
					<ul id="treeDemo" class="ztree"></ul>
				</div>
			</div>

			<div class="form-actions">
				<div class="row" align="center">
					<div class="col-md-12">
						<button class="btn btn-primary" onclick="location.href='role_list.html'">返回</button>
						<button class="btn btn-primary saveBt" type="submit">
							<i class="fa fa-save"></i> 保存
						</button>
					</div>
				</div>
			</div>

		</fieldset>
	</form>
</div>
{% endblock %}


{% block footer %}
<script type="text/javascript" src="../../js/plugin/bootstrapvalidator/bootstrapValidator.min.js"></script>
<script type="text/javascript" src="../../js/libs/jquery.ztree.all-3.5.min.js"></script>
<script type="text/javascript" src="/js/pages/role_add.js"></script>
{% endblock %}
