{% extends '../../pages-layout/default.html' %}

{% block title %}折扣配置{% endblock %}
{% block header %}
<style type="text/css">
.layui-form-label{
      width: 85px;
    }
    .layui-input-block{
      margin-left: 115px;
    }    
</style>
{% endblock %}


{% block content %}
<div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <header style="height: 100%">
            <form class="layui-form" onsubmit="return false">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">适用城市：</label>
                        <div class="layui-input-block">
                           <select class="form-control input-sm" id="city" name="city">
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">适用车型：</label>
                        <div class="layui-input-block">
                            <select class="form-control input-sm" id="carTypeId" name="carTypeId">
                            </select>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">状态：</label>
                        <div class="layui-input-block">
                            <select class="form-control input-sm" id="status" name="status">
                            </select>
                        </div>
                    </div>
                    <button id="searchBt" class="layui-btn layui-btn-sm" permission="sys:discount:querylist"><i class="layui-icon">&#xe615;</i>搜索</button>
                </div>
            </form>
        </header>
        <div>
            <div class="widget-body no-padding">
                <script type="text/html" id="toolbarDemo">
                    <div class="layui-btn-container">
                        <button class="layui-btn layui-btn-sm" id="jsVehicleBrandAdd" lay-event="add" permission="sys:vehicle:add">
                            <i class="layui-icon">&#xe608;</i> 添加
                        </button>
                        <!-- <button class="layui-btn layui-btn-sm"  lay-event="delete"  permission="sys:vehicle:add">
                            <i class="layui-icon">&#xe640;</i> 下线
                        </button> -->
                    </div>
                </script>
                <table id="demo" lay-filter="test"></table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="/js/pages/discount_list.js"></script>
{% endblock %}
