{% extends '../../pages-layout/default.html' %}

{% block title %}订单系统{% endblock %}

{% block header %}
<style type="text/css">
    html{
        background: #f2f2f2;
    }
</style>
{% endblock %}

{% block content %}
<div class="" style='padding: 15px;'>
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body layui-text">
                    <form class="layui-form" onsubmit="return false">
                        <div class="layui-row">
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">城市</label>
                                    <div class="layui-input-block">
                                        <select class="form-control input-sm" id="productTypeId" name="productTypeId">
                                        </select>
                                    </div>
                                </div>
                                <button class="layui-btn layui-btn-sm" lay-submit lay-filter="orderSearch"><i class="layui-icon">&#xe615;</i>搜索</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="layui-col-md3 layui-col-sm6">
            <div class="layui-card">
                <div class="layui-card-header">在线司机（今日</div>
                <div class="layui-card-body layui-text">
                    <p class='layuiadmin-big-font'>66</p>
                    <p>提单接单率：20%</p>
                    <p>提单成单率：20%</p>
                </div>
            </div>              
        </div>
        <div class="layui-col-md3 layui-col-sm6">
            <div class="layui-card">
                <div class="layui-card-header">接单司机（今日）</div>
                <div class="layui-card-body layui-text">
                    <p class='layuiadmin-big-font'>66</p>
                    <p>提单接单率：20%</p>
                    <p>&nbsp;</p>
                </div>
            </div> 
        </div>
        <div class="layui-col-md3 layui-col-sm6">
            <div class="layui-card">
                <div class="layui-card-header">成单司机（今日）</div>
                <div class="layui-card-body layui-text">
                    <p class='layuiadmin-big-font'>66</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
            </div> 
        </div>
        <div class="layui-col-md3 layui-col-sm6">
                查看详细数据  >>
        </div>
        <div class="layui-col-md12 layui-col-sm12">
            <div class="layui-card">
                <div class="layui-card-header">数据概览</div>
                <div class="layui-card-body layui-text">
                    <div id='main' style='width: 100%;height: 400px;'></div>
                </div>
            </div>
        </div>
        <div class="layui-col-md12 layui-col-sm12">
            <div class="layui-card">
                <div class="layui-card-header">表格概览</div>
                <div class="layui-card-body">
                    <table id="orderDashboard" lay-filter="test"></table>
                </div>
            </div>
        </div>
  </div>
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="/js/plugin/echart/echarts.js"></script>
<script type="text/javascript" src="/js/pages/order_dashboard.js"></script>

{% endblock %}