{% extends '../../pages-layout/default.html' %}

{% block title %}车辆管理{% endblock %}
{% block header %}
<link rel="stylesheet" type="text/css" media="screen" href="../../css/lib/bootstrap.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="../../css/lib/dataTables.bootstrap.min.css">
{% endblock %}


{% block content %}
<div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <header style="height: 100%">
            <form class="form-inline" onsubmit="return false">
            <div align="left">
                <table style="width: 60%">
                    <tr>
                        <td>
                            品牌名称：
                            <input id="name" name="name" type="text" class="form-control" placeholder="品牌名称">
                        </td>
                        <td>
                            品牌名称(EN)：
                            <input id="enName" name="enName" type="text" class="form-control" placeholder="品牌名称(EN)">
                        </td>
                        <td>
                            <button id="searchBt" class="layui-btn layui-btn-sm" permission="sys:user:query"><i class="layui-icon">&#xe615;</i>搜索</button>
                        </td>
                    </tr>
                </table>
            </div>
            </form>
        </header>
        <div>
            <div class="widget-body no-padding">
                <script type="text/html" id="toolbarDemo">
                    <div class="layui-btn-container">
                        <button class="layui-btn layui-btn-sm"  lay-event="add" permission="sys:vehicle:add">
                            <i class="layui-icon">&#xe608;</i> 添加
                        </button>
                        <!-- <button class="layui-btn layui-btn-sm"  lay-event="delete"  permission="sys:vehicle:add">
                            <i class="layui-icon">&#xe640;</i> 删除
                        </button> -->

                    </div>
                </script>
                <table id="demo" lay-filter="test"></table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="/js/pages/vehicle_brand.js"></script>
{% endblock %}

